carousel-inner {
    bottom: 50px;       
    left: 20px;         
    width: auto;        
    text-align: left;  
}

.airsoft-gear h2 {
    margin: 0 0 10px; /* Add some spacing between the heading and the image */
}

.carousel-inner .index-image {
    max-width: 30%; /* Adjust the size of the image */
    height: auto;   /* Keep aspect ratio */
}

.carousel-inner img {
    height: 400px;
    object-fit: cover;
}

.carousel-caption h5 {
    font-size: 1.5rem;
}

.carousel-caption p {
    font-size: 1rem;
}